services:
  # Your FastAPI Backend Service
  backend:
    build: ./Backend
    container_name: fastapi_backend      
    networks:
      - app-network

  # The React Frontend & NGINX Reverse Proxy Service
  frontend:
    build: ./FE
    container_name: react_frontend
    ports:
      # Map port 3000 on your host machine to port 80 inside the container (where Nginx is listening)
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

# Define the network and volume
networks:
  app-network:
    driver: bridge